## Testing

Below are simple tests to check the assertions in the code. 

Remark: Each function checks whether the input data is of type pd.DataFrame, however this will not be shown in the tests.

In [1]:
import classification as clas
import pandas as pd
from datetime import datetime

Generating dataset of different data types

In [2]:
dates = [
    datetime(2022, 1, 1),
    datetime(2022, 1, 2),
    datetime(2022, 1, 3),
    datetime(2022, 1, 4),
    datetime(2022, 1, 5),
    datetime(2022, 1, 6)
]

# Compute timedelta by subtracting each date from the first date
timedeltas = [(date - dates[0]) for date in dates]

# Create DataFrame
data = {
    'int_col': [1, 2, 3, 4, 5, 6],
    'float_col': [1.1, 2.2, 3.3, 4.4, 5.5, 6.6],
    'str_col': ['a', 2.4, 'c', 'd', 3, 'f'],
    'bool_col': [True, False, True, False, True, False],
    'datetime_col': dates,
    'timedelta_col': timedeltas,
    'category_col': pd.Categorical(['cat', 'dog', 'cat', 'dog', 'cat', 'dog'])
}

df = pd.DataFrame(data)

clas.printVariableType(df)

,Column,Variable_Type,the percentage values of unique values
0,int_col,int64 (Integer numbers),1.000
1,float_col,float64 (Floating point numbers),1.000
2,str_col,object (Text or mixed numeric and non-numeric ...,1.000
3,bool_col,bool (True/False values),0.333
4,datetime_col,datetime64[ns] (Date and time values),1.000
5,timedelta_col,timedelta64[ns] (Differences between two datet...,1.000
6,category_col,category (Finite list of text values),0.333

1. changeNameToSurname

In [3]:
clas.changeNameToSurname(df, 'first')

AssertionError: Column first not found in the DataFrame

In [4]:
clas.changeNameToSurname(df, 'str_col')

AssertionError: Name column not found in DataFrame

In [5]:
df.rename(columns={'str_col': 'Name'}, inplace=True)

clas.changeNameToSurname(df, 'Name')

AssertionError: Name column must be a string

2. dropColumns

In [6]:
clas.dropColumns(df, 'abc')

AssertionError: columns_to_stay must be a list

In [7]:
clas.dropColumns(df, ['abc'])

AssertionError: Column abc not found in DataFrame

3. computePCA

In [8]:
test = df.drop(columns=['int_col'])

clas.computePCA(df, test)

AssertionError: X and X_test must have the same columns

4. normalizeData

In [9]:
clas.normalizeData(df, 'int_col')

AssertionError: Column Name must be numerical

The rest of the functions check the data type with a simple if statement ensuring that computations are done on the correct data type.